@import "colors";

footer{
    background-color: $first;
    height: 150px;
    width: 100%;
    padding: 2rem;
    color: $dark;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 2rem;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >h1{
            font: 700 2rem $text1;
            text-transform: uppercase;
            color: $third;
        }

        >p {
            font: 400 1.2rem $text1;
        }

    > h5{
        font: 300 1rem $text1 $second;
        margin-top: 1rem 0;
        text-align: center;
        text-transform: capitalize;
    }
    
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        
        a{
            color: $dark;
            font: 900 1rem $text2;

            &:hover{
                color: $third;
            }
        }
    }

    }
}